.row{
  background-color: rgba(30,144,255,0.9);
  border-radius: 6px;
  padding-top: 20px;
}

#pizza-attributes{
  margin-top: 30px;
}

#delivery-section{
  margin-top:30px; 
}

#welcome{
  width: 100%;
}

.checkout-message{
  height: 50px;
  background-color: red;
  font-size: xx-large;
  font-weight: 700;
  color: green;
}
