body{
  width: 100%;
  height: 100vh;
}
.row{
  background-color: rgba(30,144,255,0.9);
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#pizza-attributes{
  margin-top: 30px;
}

#delivery-section{
  margin-top:30px; 
  display: none;
}

#welcome{
  width: 100%;
}

.checkout-message{
  height: 50px;
  background-color: red;
  font-size: xx-large;
  font-weight: 700;
  color: green;
  margin-top: 30px;
  padding-top: 20px;
  border-radius: 6px;
}

footer{
  text-align: center;
  padding: 2px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: rgba(229,188,155,0.5);
  border-radius:10px;
}

a{
  color: black;
}

#table-order{
  display: none;
}
